{
    "env": {
        "node": true,
        "browser": true,
        "es2021": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "prettier",
        "react-app"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "plugins": ["react", "prettier"],
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "arrowParens": "avoid",
                "semi": true,
                "trailingComma": "none",
                "endOfLine": "auto",
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "printWidth": 100,
                "jsxSingleQuote": false
            }
        ]
    },
    "settings": {
        "react": {
            "version": "latest"
        }
    }
}
