.container-404 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text-404 {
        font-size: 5rem;
        font-weight: 500;
        margin: 0;
    }

    .button-404-container {
        margin-top: 5rem;

        .button-404-to-dashboard {
            padding: 10px 20px;
            margin: 0;
            background: #0f3a42;
            border: 1px solid #333;
            font-weight: bold;
            color: white;
            font-size: 1.3rem;
            border-radius: 3px;
            box-shadow: 2px 2px #C7BEA2;
            text-decoration: none;

            &:hover {
                filter: brightness(140%);
            }
        }
    }
}
