@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

.text-small {
    font-size: 0.88rem;
}

.text-base {
    font-size: 1rem;
}

.text-large {
    font-size: 1.25rem;
}

.text-title {
    font-size: 1.5rem;
}

.text-heading {
    font-size: 2rem;
}

.text-xl {
    font-size: 3rem;
}

.text-2xl {
    font-size: 4rem;
}

.text-3xl {
    font-size: 6rem;
}
