.pagination-container {
    display: flex;
    list-style-type: none;
    padding: 0;
    float: right;
}

.pagination-container .pagination-item {
    height: 36px;
    min-width: 36px;
    margin-right: 8px;
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    user-select: none;
}

.pagination-container .pagination-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.pagination-container .pagination-item.selected {
    background-color: #ffffff;
    border-color: var(--secondary);
    color: var(--secondary);
}

.pagination-container .pagination-item.disabled {
    pointer-events: none;
    background-color: #e7e7e7;
}

.pagination-container .pagination-item.dots {
    border-color: transparent;
}

.pagination-container .pagination-item.dots:hover {
    background-color: transparent;
    cursor: default;
}

.pagination-container .pagination-options {
    letter-spacing: 1px;
}
